<a href="https://colab.research.google.com/github/Rushi7667/Ukraine-Russia-War-Twitter-Sentiment-Analysis/blob/main/Ukraine_Russia_War_Twitter_Sentiment_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
from nltk.corpus import stopwords
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import re

In [6]:
os.chdir("/content/drive/MyDrive/DS/SentimentAnalysis")

In [7]:
!ls

 DATA.csv  'Ukraine Russia War Twitter Sentiment Analysis.ipynb'

In [15]:
df = pd.read_csv("DATA.csv")

In [16]:
df.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1562610597581438977,1562493264464187394,2022-08-25 01:19:33 UTC,2022-08-25,01:19:33,0,825190326126120960,rjrro,RJRRO,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'RussianEmbassyC', 'name': 'R...",NaN,NaN,NaN,NaN
1,1562610583806955527,1562610583806955527,2022-08-25 01:19:29 UTC,2022-08-25,01:19:29,0,1543715151765016576,hakunarebel,ÿßŸÑŸÜŸÖÿ± ÿßŸÑÿ£ÿ®Ÿäÿ∂üêÜ,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,1562610559903625216,1562610559903625216,2022-08-25 01:19:24 UTC,2022-08-25,01:19:24,0,23352368,desertblues,Jack Bennett,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,1562610557072470017,1562610557072470017,2022-08-25 01:19:23 UTC,2022-08-25,01:19:23,0,2295997100,duchessfrida,Deb (aka Frida),NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,1562610549221130242,1562493264464187394,2022-08-25 01:19:21 UTC,2022-08-25,01:19:21,0,825190326126120960,rjrro,RJRRO,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'RussianEmbassyC', 'name': 'R...",NaN,NaN,NaN,NaN

In [17]:
df.describe()

,id,conversation_id,timezone,user_id,replies_count,retweets_count,likes_count,video,near,geo,source,user_rt_id,user_rt,retweet_id,retweet_date,translate,trans_src,trans_dest
count,1.000700e+04,1.000700e+04,10007.0,1.000700e+04,10007.000000,10007.000000,10007.000000,10007.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,1.562585e+18,1.560959e+18,0.0,7.761159e+17,0.466673,0.809633,3.470970,0.114020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,1.367738e+13,2.476230e+16,0.0,6.657959e+17,3.608054,24.279208,76.197404,0.317852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.562563e+18,8.137979e+17,0.0,6.760830e+05,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,1.562573e+18,1.562451e+18,0.0,7.422977e+08,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,1.562585e+18,1.562564e+18,0.0,9.801965e+17,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.562597e+18,1.562583e+18,0.0,1.446747e+18,0.000000,0.000000,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1.562611e+18,1.562611e+18,0.0,1.562608e+18,188.000000,2275.000000,6193.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10007 entries, 0 to 10006
Data columns (total 36 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               10007 non-null  int64
 1   conversation_id  10007 non-null  int64
 2   created_at       10007 non-null  object
 3   date             10007 non-null  object
 4   time             10007 non-null  object
 5   timezone         10007 non-null  int64
 6   user_id          10007 non-null  int64
 7   username         10007 non-null  object
 8   name             10007 non-null  object
 9   place            1 non-null      object
 10  tweet            10007 non-null  object
 11  language         10007 non-null  object
 12  mentions         10007 non-null  object
 13  urls             10007 non-null  object
 14  photos           10007 non-null  object
 15  replies_count    10007 non-null  int64
 16  retweets_count   10007 non-null  int64
 17  likes_count      10007 non-null  int64
 18  hashtags         10007 non-null  object
 19  cashtags         10007 non-null  object
 20  link             10007 non-null  object
 21  retweet          10007 non-null  bool
 22  quote_url        790 non-null    object
 23  video            10007 non-null  int64
 24  thumbnail        1141 non-null   object
 25  near             0 non-null      float64
 26  geo              0 non-null      float64
 27  source           0 non-null      float64
 28  user_rt_id       0 non-null      float64
 29  user_rt          0 non-null      float64
 30  retweet_id       0 non-null      float64
 31  reply_to         10007 non-null  object
 32  retweet_date     0 non-null      float64
 33  translate        0 non-null      float64
 34  trans_src        0 non-null      float64
 35  trans_dest       0 non-null      float64
dtypes: bool(1), float64(10), int64(8), object(17)
memory usage: 2.7+ MB

In [19]:
df.isnull().sum()

id                     0
conversation_id        0
created_at             0
date                   0
time                   0
timezone               0
user_id                0
username               0
name                   0
place              10006
tweet                  0
language               0
mentions               0
urls                   0
photos                 0
replies_count          0
retweets_count         0
likes_count            0
hashtags               0
cashtags               0
link                   0
retweet                0
quote_url           9217
video                  0
thumbnail           8866
near               10007
geo                10007
source             10007
user_rt_id         10007
user_rt            10007
retweet_id         10007
reply_to               0
retweet_date       10007
translate          10007
trans_src          10007
trans_dest         10007
dtype: int64

In [21]:
df.isnull

<bound method DataFrame.isnull of                         id      conversation_id               created_at  \
0      1562610597581438977  1562493264464187394  2022-08-25 01:19:33 UTC
1      1562610583806955527  1562610583806955527  2022-08-25 01:19:29 UTC
2      1562610559903625216  1562610559903625216  2022-08-25 01:19:24 UTC
3      1562610557072470017  1562610557072470017  2022-08-25 01:19:23 UTC
4      1562610549221130242  1562493264464187394  2022-08-25 01:19:21 UTC
...                    ...                  ...                      ...
10002  1562563052738052097  1562052991988924416  2022-08-24 22:10:37 UTC
10003  1562563052125720577  1562479651150508035  2022-08-24 22:10:37 UTC
10004  1562563050993250306  1562420482690887684  2022-08-24 22:10:37 UTC
10005  1562563050703441924  1562563050703441924  2022-08-24 22:10:36 UTC
10006  1562563049168699392  1562563049168699392  2022-08-24 22:10:36 UTC

             date      time  timezone              user_id         username  \
0      2022-08-25  01:19:33         0   825190326126120960            rjrro
1      2022-08-25  01:19:29         0  1543715151765016576      hakunarebel
2      2022-08-25  01:19:24         0             23352368      desertblues
3      2022-08-25  01:19:23         0           2295997100     duchessfrida
4      2022-08-25  01:19:21         0   825190326126120960            rjrro
...           ...       ...       ...                  ...              ...
10002  2022-08-24  22:10:37         0           2572052923          jerluk1
10003  2022-08-24  22:10:37         0  1553183012736712704  bdmercer6mercer
10004  2022-08-24  22:10:37         0           2895107380     madeinshoes1
10005  2022-08-24  22:10:36         0   932315271372726272        realnorac
10006  2022-08-24  22:10:36         0  1500324869581545478    ua_propaganda

                                   name place  ... geo source user_rt_id  \
0                                 RJRRO   NaN  ... NaN    NaN        NaN
1                         ÿßŸÑŸÜŸÖÿ± ÿßŸÑÿ£ÿ®Ÿäÿ∂üêÜ   NaN  ... NaN    NaN        NaN
2                          Jack Bennett   NaN  ... NaN    NaN        NaN
3                       Deb (aka Frida)   NaN  ... NaN    NaN        NaN
4                                 RJRRO   NaN  ... NaN    NaN        NaN
...                                 ...   ...  ...  ..    ...        ...
10002                  The big Lebowski   NaN  ... NaN    NaN        NaN
10003                         BD Mercer   NaN  ... NaN    NaN        NaN
10004                       soporquesim   NaN  ... NaN    NaN        NaN
10005  üíîüåäüåàü¶Ñ NoraC SLAVA UKRAINI üá∫üá¶ ü¶Ñüåàüåäüíî   NaN  ... NaN    NaN        NaN
10006               UKRAINIAN NFT MENüá∫üá¶   NaN  ... NaN    NaN        NaN

      user_rt retweet_id                                           reply_to  \
0         NaN        NaN  [{'screen_name': 'RussianEmbassyC', 'name': 'R...
1         NaN        NaN                                                 []
2         NaN        NaN                                                 []
3         NaN        NaN                                                 []
4         NaN        NaN  [{'screen_name': 'RussianEmbassyC', 'name': 'R...
...       ...        ...                                                ...
10002     NaN        NaN  [{'screen_name': 'cgbalbin', 'name': 'CGBA', '...
10003     NaN        NaN  [{'screen_name': 'WorstCassie', 'name': 'Worst...
10004     NaN        NaN  [{'screen_name': 'AntonioCunha79', 'name': 'An...
10005     NaN        NaN                                                 []
10006     NaN        NaN                                                 []

       retweet_date  translate trans_src trans_dest
0               NaN        NaN       NaN        NaN
1               NaN        NaN       NaN        NaN
2               NaN        NaN       NaN        NaN
3               NaN        NaN       NaN        NaN
4               NaN        NaN       NaN        NaN
...             ...        ...       ...        ...
10002           NaN        NaN       NaN        NaN
10003           NaN        NaN       NaN        NaN
10004           NaN        NaN       NaN        NaN
10005           NaN        NaN       NaN        NaN
10006           NaN        NaN       NaN        NaN

[10007 rows x 36 columns]>

# Final Dataset

In [23]:
data = df[["username", "tweet", "language"]]

In [25]:
data

,username,tweet,language
0,rjrro,@RussianEmbassyC @mfa_russia @RussiaUN @missio...,qme
1,hakunarebel,Great now speak about how Russia is in Syria c...,en
2,desertblues,DOJ releases secret Russia probe memo recommen...,en
3,duchessfrida,The world stands on a nuclear precipice ‚Äì we m...,en
4,rjrro,@RussianEmbassyC @mfa_russia @RussiaUN @missio...,qme
...,...,...,...
10002,jerluk1,@cgbalbin @apmassaro3 Without the allies suppo...,en
10003,bdmercer6mercer,@WorstCassie I stand with Russia.,en
10004,madeinshoes1,"@AntonioCunha79 Que post rid√≠culo, Stalin foi ...",pt
10005,realnorac,"""The head of the LDPR party in Russia, Leonid ...",en
10006,ua_propaganda,@KremlinRussia_E –ì–æ—Ä–∏ –≤ –∞–¥—É –≥–Ω–∏–¥–∞ –ø–∞—Ä—à–∏–≤–∞—è —Ä–æ—Å...,und

In [28]:
data.isnull().sum()

username    0
tweet       0
language    0
dtype: int64

In [32]:
data["language"].value_counts()

en     8570
pt      415
it      218
qme     184
ru       98
ja       90
und      83
in       67
zh       46
es       44
ca       28
qht      17
cs       14
de       13
fr       10
hi        9
ro        9
ar        9
pl        9
th        8
qam       7
fi        7
nl        6
et        6
tr        5
zxx       5
vi        4
tl        4
ko        3
sv        3
da        3
uk        3
lt        2
no        2
bg        1
is        1
art       1
cy        1
ht        1
eu        1
Name: language, dtype: int64

In [34]:
nltk.download('stopwords')
stemmer = nltk.SnowballStemmer("english")
stopwords = set(stopwords.words("english"))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [35]:
stopwords

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [ ]:
def clean(text):
  text = str(text).lower()
  text = re.